<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>たいとる</title>
    <link href="/vendor/jqplot/jquery.jqplot.min.css" rel="stylesheet">
    <script src="/vendor/jquery.min.js"></script>
    <script src="/vendor/jqplot/jquery.jqplot.min.js"></script>
    <script type="text/javascript">
    $(function() {
        var getGenreEncounter = function(id) {
            $.getJSON('/genres/' + id + '/encounter', null, function(json, status) {
                $.jqplot('chart', [json], {
                    title: "社食"
                })
            });
        };

        getGenreEncounter(15);
    });
    </script>
  </head>
  <body>
    <article>
      <h1><%= @genre.name %></h1>

      <div id="chart"></div>

      <ul>
        <% for md in @genre.encounter_all %>
        <li><%= md.day %> <%= md.probability %></li>
        <% end %>
      </ul>
    </article>
  </body>
</html>
